*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.herosection{
    background-color: #161625;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.leftsection, .rightsection{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textcontainer{
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
}

.textcontainer h1{
    font-size: 30px;
}

.textcontainer h1 span{
    color: #C6FF00;
}

.textcontainer h2{
    font-size: 20px;
}

.socialmediacontainer{
    color: #f2f2f2;
    width: 300px;
    padding-top: 1rem;
}

.socialmediaicons{
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.imagesection img{
    width: 450px;
    border-radius: 300px;
}

@media(max-width: 1000px){
    .imagesection img{
        width: 350px;
    }
}

@media(max-width: 750px){
    .herosection{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
}

@media(max-width: 600px){
    .imagesection img{
        width: 250px;
    }
    .leftsection{
        width: 100%;
    }
}